<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RonsHouse.SeoNet.OverrideInPageSeo" value="true"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
	<system.webServer>
		<modules>
			<add name="SeoNet" type="RonsHouse.SeoNet.SeoHttpModule, RonsHouse.SeoNet" />
		</modules>
		<handlers>
			<add name="SeoNet" path="*/seo.axd" verb="*" type="RonsHouse.SeoNet.SeoHttpHandler, RonsHouse.SeoNet" />
		</handlers>
	</system.webServer>
</configuration>